<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"> </script>
    </head>
    <body>
        <h1> Add a book </h1>
        <form method="get" action="/adding">
            <input type="text" name="bookTitle" placeholder="Title"> </input><br>
            <input type="text" name="bookGenre" placeholder="Genre"> </input><br>
            <input type="text" name="bookPages" placeholder="Number of pages"> </input><br>
            <input type="text" name="bookPublisher" placeholder="Publisher"> </input><br>
            <input type="text" name="bookPrice" placeholder="Price"> </input><br>
            <input type="text" name="bookDate" placeholder="Date Published"> </input><br>
            <input type="text" name="bookPercentage" placeholder="Royalties percentage"> </input><br>
            <input type="text" name="bookAuthorF" placeholder="Author First Name"> </input><br>
            <input type="text" name="bookAuthorL" placeholder="Author Last Name"> </input><br>
            <button type="submit">
                Add book
            </button>
        </form>
    </body>
</html>