<html>
    <head>
    </head>
    <body>
        <form method="POST" action="/login">
            <p>Customer Login</p>
            <input type="text" placeholder="Email" name="cEmail"></input>
            <input type="password" placeholder="Password" name="cPassword"></input>
            <input type="submit">
        </form>
        
        <form method="POST" action="/managerlogin">
            <p>Owner/Manager Login</p>
            <input type="text" placeholder="Email" name="mEmail"></input>
            <input type="password" placeholder="Password" name="mPassword"></input>
            <input type="submit">
        </form>

        <a href="register">Register</a>
    </body>
</html>