<html>
    <head>

    </head>
    <body>

        <h1>Registration</h1>

        <form action="register_user" method="POST">
            <input type="text" name="firstName" placeholder="First Name"> </input> <br>
            <input type="text" name="lastName" placeholder="Last Name"> </input> <br>
            <input type="text" name="address" placeholder="Address"> </input> <br>
            <input type="tel" name="phone" placeholder="Phone"> </input> <br>
            <input type="text" name="card" placeholder="Credit Card Number"> </input> <br>

            <br>
            <input type="email" name="email" placeholder="Email"> </input> <br>
            <input type="password" name="password" placeholder="Password"> </input> <br>
            <button type="submit">Register</button>
        </form>
    </body>
</html>