<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"> </script>
    </head>
    <body>
        <h1> Remove a book </h1>
        <form method="get" action="/removing">
            <input type="text" name="bookTitle" placeholder="Title"> </input><br>
            <input type="text" name="bookAuthorF" placeholder="Author's First Name"> </input><br>
            <input type="text" name="bookAuthorL" placeholder="Author's Last Name"> </input><br>
            <input type="text" name="bookISBN" placeholder="ISBN"> </input><br>
            <button type="submit">
                Remove book
            </button>
        </form>
    </body>
</html>